$cor-primaria: #0ABCEB;
$cor-secundaria: #15C6AD;

$cor-3: #4A00E0;
$cor-4: #8E2DE2;
$cor-5: #ec008c;
$cor-6: #fc6767;
$cor-7: #F27121;
$cor-8: #E94057;
$cor-9: #8A2387;
$cor-10: #159957;
$cor-11: #155799;

$cor-texto: #01193F;
$cor-fundo-claro: #f0f0f0;
