<div class="titulo">
  <div class="pagina">
    <i class="las la-clipboard-list"></i>
    <div>
      <h1>Seja bem-vindo, <b>Prefeito!</b></h1>
      <p>Veja o que o HuBI tem de interessante para você hoje.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="separador"></div>

    <h4 class="m-0">Realização do orçamento</h4>
    <p class="valor-destaque">
      {{valorPrevisto | currency}}
    </p>

    <div class="separador-0"></div>

    <div class="barra-horizontal">
      <div title="Arrecadado: {{valorArrecadado | currency}}" [style.width]="((valorArrecadado/valorPrevisto)*100).toFixed(0) +'%'" class="barra-horizontal-completada">
        {{valorArrecadado | currency}}
      </div>
    </div>

    <div class="separador-0"></div>

    <div class="row">
      <div class="col-md-3">
        <grafico *ngIf="dadosCarregados" [opcoes]="iptuPie" tipo="pie"></grafico>
        <p class="text-center fw-bold"><i class="las la-tags"></i> IPTU</p>
      </div>
      <div class="col-md-3">
        <grafico *ngIf="dadosCarregados" [opcoes]="lixoPie" tipo="pie"></grafico>
        <p class="text-center fw-bold"><i class="las la-tags"></i> Taxa de lixo</p>
      </div>
      <div class="col-md-3">
        <grafico *ngIf="dadosCarregados" [opcoes]="issPie" tipo="pie"></grafico>
        <p class="text-center fw-bold"><i class="las la-tags"></i> IIS</p>
      </div>
      <div class="col-md-3">
        <grafico *ngIf="dadosCarregados" [opcoes]="diversosPie" tipo="pie"></grafico>
        <p class="text-center fw-bold"><i class="las la-tags"></i> Convênios</p>
      </div>
    </div>

    <div class="separador"></div>

    <div>
      <grafico *ngIf="dadosCarregados" [opcoes]="comparativoMensal" tipo="bar"></grafico>
    </div>

  </div>
  <div class="col-md-6">
    <div id="wrap">
      <div id="chart-year">
        <grafico *ngIf="dadosCarregados" [opcoes]="chartOptions" tipo="bar"></grafico>
      </div>
      <div id="chart-quarter">
        <grafico *ngIf="dadosCarregados" [opcoes]="chartQuarterOptions" tipo="bar"></grafico>
      </div>
    </div>
    <div>
      <img src="imagens/mapa_fazenda.svg" alt="">
    </div>
  </div>
</div>