<header>
  <nav class="topo-menu">
    <a [routerLink]="['/']" class="logo">
      <img src="../../assets/img/logo.svg" alt="">
    </a>

    <div class="separador"></div>

    <div class="menu-principal">
      <ul>
        <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/']"><i class="las la-clipboard-list"></i> Início</a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/counter']"><i class="las la-heartbeat"></i> Saúde</a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/fetch-data']"><i class="las la-chalkboard-teacher"></i> Educação</a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/fetch-data']"><i class="las la-shield-alt"></i> Segurança Pública</a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/fetch-data']"><i class="las la-file-invoice-dollar"></i> Fazenda</a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/fetch-data']"><i class="las la-city"></i> Infra-estrutura</a>
        </li>
      </ul>
    </div>

    <div class="separador"></div>

    <div class="botao-importacao">
      <i class="las la-plug"></i>
      <i class="las la-plug marca"></i>
      <p>Conectar <b>fonte de dados</b></p>
    </div>
  </nav>
</header>