<header>
  <nav>
    <div class="container-fluid">
      <a [routerLink]="['/']" style="display: block;">
        <img src="../../assets/img/logo.svg" alt="">
      </a>
      
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div>
        <ul class="list-group">
          <li class="list-group-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]="['/']">Home</a>
          </li>
          <li class="list-group-item" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="list-group-item" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>